<div class="row module module__promo-secondary">
  <div class="col-md-2 hidden-sm"></div>
  <div class="col-md-8">
    <div class="module__featured_pdf row">
      <div class="col-md-6 featured-pdf__image-wrap">
        <img src="{{ image.src }}" class="featured-pdf__image" />
      </div>
      <div class="col-md-6 featured-pdf__text-wrap">
        <h4>{{ headline }}</h4>
        <p>{{ copy }}</p>
        <a href="{{ link.href }}" target="_blank" class="button ">{{ link.text }}</a>
      </div>
    </div>
  </div>
  <div class="col-md-2 hidden-sm"></div>
</div>