<div class="module module__promo__for-educators {{ class }}" id="{{ id }}">
  {{#if (and headline copy) }}
    <div class="row intro">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h3 class="article_headline">{{ headline }}</h2>
        <p class="body-secondary">{{copy}}</p>
      </div>
    </div>
  {{/if}}

  {{#with block}}
    <div class="row">
      <div class="col-md-2 col-lg-2"></div>
      <div class="col-md-8 col-lg-8">
        <div class="wrapper">
          <div class="image">
            <img src="{{ image.src }}" />
          </div>
          <div class="content">
            <p class="headline">{{ headline }}</p>
            <p class="copy">{{ copy }}</p>
            <div class="module__promo__links">
              {{#each links}}
                <a target="_blank" href="{{ href }}" class="button button--index-{{ @index }}">{{ text }}</a>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-lg-2"></div>
    </div>
  {{/with}}
</div>