---
url: glossary/index.html
title: "Glossary - Futures Fundamentals" 
body:
  class: singular page page-id-151 page-template page-template-tpl_glossary page-template-tpl_glossary-php page--glossary
mainDivClass: article
seen-in-pages:
  a-simple-guide-to-algorithms:
    name: A Simple Guide To Algorithms
    url: /explore-the-marketplace/the-role-of-technology-in-futures-markets/a-simple-guide-to-algorithms/
  how-to-clear-a-trade:
    name: How To Clear A Trade
    url: /explore-the-marketplace/protecting-the-futures-markets/how-to-clear-a-trade/
  the-role-of-clearing-houses:
    name: The Role Of Clearing Houses
    url: /explore-the-marketplace/the-role-of-clearing-houses/
  over-the-counter-trading:
    name: Over The Counter Trading
    url: /explore-the-marketplace/over-the-counter-trading/
  the-exchange-how-it-works:
    name: The Exchange How It Works
    url: /explore-the-marketplace/the-exchange-how-it-works/
  protecting-the-futures-markets:
    name: Protecting The Futures Markets
    url: /explore-the-marketplace/protecting-the-futures-markets/
  futures-and-options:
    name: Futures And Options
    url: /get-the-basics/futures-and-options/
  financial-futures:
    name: Financial Futures
    url: /see-the-impact/financial-futures/
  food-prices-explained:
    name: Food Prices Explained
    url: /see-the-impact/agriculture-futures/food-prices-explained/
  energy-futures:
    name: Energy Futures
    url: /see-the-impact/energy-futures/
  the-regulatory-measures:
    name: The Regulatory Measures
    url: /explore-the-marketplace/the-regulatory-measures/
  place-a-trade:
    name: Place A Trade
    url: /explore-the-marketplace/the-exchange-how-it-works/place-a-trade/
  the-wide-world-of-futures-traders:
    name: The Wide World Of Futures Traders
    url: /explore-the-marketplace/the-wide-world-of-futures-traders/
  introduction-to-derivatives:
    name: Introduction To Derivatives
    url: /get-the-basics/introduction-to-derivatives/
  the-role-of-technology-in-futures-markets:
    name: The Role Of Technology In Futures Markets
    url: /explore-the-marketplace/the-role-of-technology-in-futures-markets/
  learn-how-to-trade:
    name: Learn How To Trade
    url: /explore-the-marketplace/the-exchange-how-it-works/learn-how-to-trade/
  assess-market-conditions:
    name: Assess Market Conditions
    url: /explore-the-marketplace/the-exchange-how-it-works/assess-market-conditions/
  heres-why-futures-matter-to-you:
    name: Heres Why Futures Matter To You
    url: /get-the-basics/heres-why-futures-matter-to-you/
  economics-101:
    name: Economics 101
    url: /get-the-basics/economics-101/
  agriculture-futures:
    name: Agriculture Futures
    url: /see-the-impact/agriculture-futures/
  understand-the-market-snapshot:
    name: Understand The Market Snapshot
    url: /explore-the-marketplace/the-exchange-how-it-works/understand-the-market-snapshot/
  study-the-trading-chart:
    name: Study The Trading Chart
    url: /explore-the-marketplace/the-exchange-how-it-works/study-the-trading-chart/
terms:
  -
    id: algorithm
    name: algorithm
    def: An automated, pre-programmed set of rules that can be used to execute an electronic trade.
    seen-in:
      - a-simple-guide-to-algorithms
  -
    id: clearing
    name: clearing
    def: The procedure through which a clearing house becomes the buyer to each seller of a futures contract and the seller to each buyer, and assumes the responsibility of ensuring that each buyer and seller performs on each contract.
    seen-in:
      - how-to-clear-a-trade
      - the-role-of-clearing-houses
      - a-simple-guide-to-algorithms
  -
    id: clearing-firm
    name: clearing firm
    def: A company that works directly through an exchange's clearing house to execute trades on behalf of futures market participants.
    seen-in:
      - the-role-of-clearing-houses
      - how-to-clear-a-trade
  -
    id: clearing-house
    name: clearing house
    def: The division of a futures exchange that confirms, clears and settles all trades through an exchange.
    seen-in:
      - over-the-counter-trading
      - the-exchange-how-it-works
      - protecting-the-futures-markets
      - the-role-of-clearing-houses
  -
    id: commodity
    name: commodity
    def: Any product approved and designated for trading or clearing in accordance with the rules of an exchange. Also may refer to a physical commodity.
    seen-in:
      - over-the-counter-trading
      - futures-and-options
      - financial-futures
      - food-prices-explained
      - energy-futures
  -
    id: commodity-futures-trading-commission-(cftc)
    name: Commodity Futures Trading Commission (CFTC)
    def: Also known as the CFTC, this is the independent governmental organization that oversees futures and options trading in the United States.
    seen-in:
      - the-regulatory-measures
  -
    id: contract
    name: contract
    def: A formal and legally binding agreement between two or more parties.
    seen-in:
      - the-role-of-clearing-houses
      - over-the-counter-trading
      - place-a-trade
      - food-prices-explained
      - the-wide-world-of-futures-traders
  -
    id: counterparty
    name: counterparty
    def: The individual or company (i.e., the buyer or seller) on the opposite side of any trade.
    seen-in:
      - over-the-counter-trading
      - protecting-the-futures-markets
      - the-role-of-clearing-houses
  -
    id: delivery
    name: delivery
    def: The changing of ownership or control of a commodity once a futures contract date expires.
    seen-in:
      - food-prices-explained
  -
    id: derivative
    name: derivative
    def: A financial instrument, such as a futures or options contract, whose value is based upon a physical commodity or other financial instruments.
    seen-in:
      - futures-and-options
      - introduction-to-derivatives
  -
    id: electronic-trading
    name: electronic trading
    def: The computerized processes and platforms that carry out a trade, including order placement, bid-and-offer posting and trade execution.
    seen-in:
      - how-to-clear-a-trade
      - the-exchange-how-it-works
      - the-role-of-technology-in-futures-markets
      - learn-how-to-trade
  -
    id: exchange
    name: exchange
    def: A central marketplace with established rules and regulations where buyers and sellers meet to trade futures and options contracts.
    seen-in:
      - a-simple-guide-to-algorithms
      - the-role-of-clearing-houses
      - the-regulatory-measures
  -
    id: execution
    name: execution
    def: The completion of an order to buy or sell a futures contract.
    seen-in:
      - a-simple-guide-to-algorithms
  -
    id: financial-future
    name: financial future
    def: A future contract whose value is based upon financial instruments such as a stock index, interest rates or foreign currency exchange rates.
    seen-in:
      - financial-futures
  -
    id: financial-instrument
    name: financial instrument
    def: Assets that can be traded, such as a stock index, interest rates, or foreign currency exchange rates.
    seen-in:
      - financial-futures
  -
    id: foreign-exchange-rate
    name: foreign exchange rate
    def: The price of a country's currency when converted from another country's currency.
    seen-in:
      - financial-futures
  -
    id: fundamental-analysis
    name: fundamental analysis
    def: Examining the underlying forces that affect the well-being of the economy, industry groups and companies, while also considering intrinsic value.
    seen-in:
      - learn-how-to-trade
      - assess-market-conditions
  -
    id: future
    name: future
    def: A standardized contract for the purchase and sale of financial instruments or physical commodities on a futures exchange for future delivery.
    seen-in:
      - introduction-to-derivatives
      - futures-and-options
      - heres-why-futures-matter-to-you
      - financial-futures
      - a-simple-guide-to-algorithms
      - learn-how-to-trade
  -
    id: futures-exchange
    name: futures exchange
    def: A central marketplace where buyers and sellers come together to trade futures and options contracts.
    seen-in:
      - futures-and-options
      - economics-101
      - agriculture-futures
      - the-role-of-technology-in-futures-markets
      - the-wide-world-of-futures-traders
  -
    id: hedge
    name: hedge
    def: To buy or sell a futures contract in order to lock in the price of the underlying commodity at a later date.
    seen-in:
      - food-prices-explained
      - the-wide-world-of-futures-traders
      - agriculture-futures
  -
    id: institutional-trader
    name: institutional trader
    def: A person or entity employed to trade on behalf of entities, including institutions, investment banks, pension funds, hedge funds and mutual funds.
    seen-in:
      - a-simple-guide-to-algorithms
      - agriculture-futures
  -
    id: leverage
    name: leverage
    def: To increase the potential return on an investment through the use of futures contracts (or other financial instruments).
    seen-in:
      - financial-futures
  -
    id: limit-order
    name: limit order
    def: An order that allows the buyer to define the maximum price to pay and the seller the minimum price to accept. It remains on the book until the order is either executed, canceled or expired.
    seen-in:
      - place-a-trade
  -
    id: liquidity
    name: liquidity
    def: The ability to buy or sell orders of any size quickly and efficiently without a substantial impact on market price.
    seen-in:
      - a-simple-guide-to-algorithms
      - the-exchange-how-it-works
      - the-role-of-technology-in-futures-markets
  -
    id: market-abuse
    name: market abuse
    def: Circumstances where an individual or entity breaks the rules of the exchange and/or the CFTC, putting market participants at a disadvantage.
    seen-in:
      - the-regulatory-measures
  -
    id: market-order
    name: market order
    def: An order placed at any time during the trading session to immediately execute the entire order at the best available offer price (for buy orders) or bid price (for sell orders).
    seen-in:
      - place-a-trade
  -
    id: market-participant
    name: market participant
    def: Any person, entity or organization who hedges and/or speculates through a futures exchange.
    seen-in:
      - a-simple-guide-to-algorithms
      - the-exchange-how-it-works
      - the-regulatory-measures
  -
    id: microeconomics
    name: microeconomics
    def: The field of economics focused on individual factors and the impact they have on interactions between single buyers and sellers. Its central concepts include the laws of supply and demand.
    seen-in:
      - economics-101
  -
    id: open-outcry
    name: open-outcry
    def: A method of trading where market participants make bids and offers in person from the trading pits of futures exchanges.
    seen-in:
      - the-exchange-how-it-works
      - the-role-of-technology-in-futures-markets
  -
    id: option
    name: option
    def: A contract that gives the bearer the right, but not the obligation, to buy or sell a futures contract at a specified price within a specified time period.
    seen-in:
      - futures-and-options
      - learn-how-to-trade
      - the-regulatory-measures
      - the-wide-world-of-futures-traders
      - introduction-to-derivatives
  -
    id: over-the-counter-derivative
    name: over-the-counter derivative
    def: Futures and options contracts with terms that do not necessarily adhere to those of a standardized futures contract.
    seen-in:
      - over-the-counter-trading
  -
    id: over-the-counter-trading
    name: over-the-counter trading
    def: Trades that take place outside of a formal futures exchange.
    seen-in:
      - over-the-counter-trading
  -
    id: risk
    name: risk
    def: The possibility of losing some or all profits or investment return due to external market factors.
    seen-in:
      - futures-and-options
      - introduction-to-derivatives
      - how-to-clear-a-trade
      - agriculture-futures
  -
    id: risk-management
    name: risk management
    def: Identifying, analyzing and either mitigating or absorbing the price risk in investing or business planning.
    seen-in:
      - economics-101
  -
    id: self-regulatory-organization
    name: self-regulatory organization (SRO)
    def: Futures exchanges and regulatory entities that set rules and regulations and have internal functions that perform complex checks and balances to adhere to the principles they set.
    seen-in:
      - the-regulatory-measures
  -
    id: settlement
    name: settlement
    def: The delivery of cash or commodities in exchange for payment, as specified by the terms of the underlying contract.
    seen-in:
      - the-role-of-clearing-houses
  -
    id: speculator
    name: speculator
    def: An individual who accepts market risk in an attempt to profit from buying and selling futures and/or options contracts by correctly anticipating future price movements.
    seen-in:
      - food-prices-explained
      - the-wide-world-of-futures-traders
      - agriculture-futures
  -
    id: stop-limit-order
    name: stop-limit order
    def: A stop-limit order combines features of stop orders and limit orders, requiring traders to enter a stop price as well as a limit price.
    seen-in:
      - place-a-trade
  -
    id: stop-order
    name: stop order
    def: A stop order becomes a market order once the price is met. For example, a “buy stop” is placed above the market and is executed only when the market trades at or above the stop price.
    seen-in:
      - place-a-trade
  -
    id: technical-analysis
    name: technical analysis
    def: Using charts and other tools to identify patterns in the hopes of understanding potential future activity in markets. This method uses statistical analysis of past market activity, including pieces like past prices and volume without any focus on intrinsic value.
    seen-in:
      - learn-how-to-trade
      - understand-the-market-snapshot
      - study-the-trading-chart
      - assess-market-conditions
  -
    id: trader
    name: trader
    def: A member of the exchange who buys and sells futures and options through electronic trading platforms and/or on the floor of the exchange.
    seen-in:
      - how-to-clear-a-trade
      - the-exchange-how-it-works
      - the-role-of-clearing-houses
      - the-wide-world-of-futures-traders
      - learn-how-to-trade
  -
    id: transparency
    name: transparency
    def: The amount of access a market openly offers about its activities and financial information.
    seen-in:
      - the-exchange-how-it-works
  -
    id: volatility
    name: volatility
    def: A measurement of the change in price over a given time period.
    seen-in:
      - a-simple-guide-to-algorithms
      - energy-futures
---

{{#* inline "glossary-term"}}
  <div class="row glossaryTerm">
    <a name="{{ id }}"></a>
    <div class="col-md-0 col-lg-2"></div>
    <div class="col-md-9 col-lg-6 col-for-glossary-term">
      <h6 class="glossaryTerm__term">{{ name }}</h6>
      <p class="glossaryTerm__definition">{{ def }}</p>
    </div>
    <div class="col-md-3 col-lg-2">
      <div class="glossary__border"><span class="glossaryTerm__seen-in{{#if (not (eq @index 0)) }} hidden-lg hidden-md{{/if}}">As seen in</span></div>
      <ul class="glossaryTerm__locations">
        {{#each seen-in}}
          {{#if (not (lookup ../seen-in-pages .)) }}
            {{ throwError 'missing glossary seen-in-pages item: ' . }}
          {{else if (not (lookup (lookup ../seen-in-pages .) 'url')) }}
            {{ throwError 'missing url in glossary seen-in-pages item: ' . }}
          {{else if (not (lookup (lookup ../seen-in-pages .) 'name')) }}
            {{ throwError 'missing name in glossary seen-in-pages item: ' . }}
          {{else}}
            <li><a href="{{ lookup (lookup ../seen-in-pages .) 'url' }}">{{ lookup (lookup ../seen-in-pages .) "name" }}</a></li>
          {{/if}}
        {{/each}}
      </ul>
      &nbsp;
    </div>
    <div class="col-md-0 col-lg-2"></div>
  </div>
{{/inline}}

<div class="article_hero" style=" ">
  <img class="hero__image--desktop hidden-xs hidden-sm hidden-md" src="/assets/img/hero/glossary__desktop_fg.png" />
  <img class="hero__image--tablet hidden-xs visible-sm visible-md hidden-lg hidden-xl" src="/assets/img/hero/glossary__tablet_fg.png" />
  <img class="hero__image--mobile visible-xs hidden-md hidden-lg " src="/assets/img/hero/glossary__mobile_fg.png" />
</div>
<div class="container module__hero__text-container">
  <div class="row">
    <div class="col-md-2 hidden-sm"></div>
    <div class="col-md-8">
      <h1 class="page_title_doesnt_have_eyebrow">Glossary</h1>
    </div>
  </div>
</div>
<div class="container">
  {{#with page}}
    {{#each terms}}
      {{> glossary-term seen-in-pages=../seen-in-pages}}
    {{/each}}
  {{/with}}
</div>
<!-- /.container -->