<nav class="main-nav">
  <button type="button" class="main-nav__toggle navbar-toggle">
    <span class="icon-bar top-bar"></span>
    <span class="icon-bar middle-bar"></span>
    <span class="icon-bar bottom-bar"></span>
  </button>
  <div class="main-nav__header-holder">
    <div class="main-nav__header">
      <a class="main-nav__brand" href="/">Futures Fundamentals</a>
    </div>
  </div>
  <div class="main-nav__links">
    <ul class="main-nav__primary">
      {{#each site.nav }}
        <!-- check to see if the data file has a submenu, and if so display it -->
        {{#if subfolderitems }}
          <li>
            <a class="top-nav-item  ">{{ title }}<span class="top-nav-item__marker"></span></a>
            <div class="main-nav__dropdown">
              <div class="main-nav__dropdown-inner">
                <ul>
                  {{#each subfolderitems }}
                    <li><a class="sub-nav-item " href="{{ url }}">{{ page }}</a> </li>
                    {{#if subsubfolderitems }}
                      {{#each subsubfolderitems }}
                        <li><a class="sub-nav-item child-link" href="{{ url }}">{{ page }}</a></li>
                      {{/each}}
                    {{/if}}
                  {{/each}}
                </ul>
              </div>
            </div>
          </li>
        {{/if}}
      {{/each}}
    </ul>
    <div class="main-nav__secondarywrap clearfix">
      <ul class="main-nav__secondary ">
        <li><a class="main-nav__educators" href="/for-educators/">For Educators</a></li>
        <li>
          <a class="main-nav__share top-nav-item">Share<span class="top-nav-item__marker"></span></a>
          <div class="main-nav__share-dropdown">
            <div class="main-nav__dropdown-inner">
              <ul>
                <li>
                  <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
                    <a class="addthis_button_messenger"></a>
                    <a class="addthis_button_whatsapp"></a>
                    <a class="addthis_button_twitter"></a>
                    <a class="addthis_button_facebook"></a>
                    <a class="addthis_button_linkedin"></a>
                    <a class="addthis_button_gmail"></a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="search-wrap">
          <form class="main-nav__search" action="/search-results/">
            <input class="main-nav__search-input" placeholder="Search" type="search" name="q" id="search" value="">
            <input class="main-nav__search-button" type="submit" value="">
          </form>
        </li>
      </ul>
    </div>
    <!-- /.nav__links -->
  </div>
</nav>
<div class="menu-overlay"></div>