<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> -->
  <title>{{#if page.title }}{{ page.title }}{{else}}{{ site.title }}{{/if}}</title>
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="{{ site.description }}">
  <meta name="keywords" content="{{ site.keywords }}" />
  {{#if site.meta_author }}<meta name="author" content="{{ site.meta_author }}">{{/if}}

  {{#if (eq ENV 'production')}}
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-K9KV798');</script>
    <!-- End Google Tag Manager -->
  {{/if}}

  <link rel="canonical" href="{{ concat site.url (replace page.url 'index.html' '') }}">
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml">
  <meta name="description" content="A one-stop educational resource designed to explain the role of futures markets in everyday life and provide information on the derivatives industry as a whole." />
  <meta property="og:description" content="A one-stop educational resource designed to explain the role of futures markets in everyday life and provide information on the derivatives industry as a whole." />
  <meta property="twitter:description" content="A one-stop educational resource designed to explain the role of futures markets in everyday life and provide information on the derivatives industry as a whole." />
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{#if page.title }}{{ page.title }}{{else}}{{ site.title }}{{/if }}" />
  <meta property="og:url" content="{{ concat site.url (replace page.url 'index.html' '') }}" />
  <meta property="og:site_name" content="Futures Fundamentals" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="{{#if page.title }}{{ page.title }}{{else}}{{ site.title }}{{/if }}" />
  {{> global--css }}

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
