<div class="article_hero" style=" ">
  <img class="hero__image--desktop hidden-xs hidden-sm hidden-md" src="/assets/img/hero/{{ image.id }}__desktop_fg.{{ ifElse image.format image.format 'png' }}" />
  <img class="hero__image--tablet hidden-xs visible-sm visible-md hidden-lg hidden-xl" src="/assets/img/hero/{{ image.id }}__tablet_fg.{{ ifElse image.format image.format 'png' }}" />
  <img class="hero__image--mobile visible-xs hidden-md hidden-lg " src="/assets/img/hero/{{ image.id }}__mobile_fg.{{ ifElse image.format image.format 'png' }}" />
</div>