<div class="datagram item {{ class }} {{#if active}}active{{/if}}">
  <div class="col-md-8">
    {{#if slide-num}}
      <div class="slide-num slide-num-mobile">
        <span class="current">{{ slide-num }}</span> of {{ slide-total }}
      </div>
    {{/if}}
    <div class="carousel-image">
      {{#if lottie-json}}
        <div class="carousel-animate" id="{{ id }}" data-path="{{ lottie-json }}"></div>
      {{else}}
        <img class="carousel-img" src="{{ image }}">
      {{/if}}
    </div>
  </div>
  <div class="col-md-4">
    {{> @partial-block }}

    {{#if custom-controls}}
      <!-- Left and right controls -->
      <div class="carousel-controls-container">
        <a class="right begin carousel-control" href="{{ controls-href }}" role="button" data-slide="next">
          <span>{{ custom-controls-text }}</span>
        </a>
      </div>
    {{else if restart-control}}
      <div class="carousel-controls-container">
        <a class="left carousel-control" href="{{ controls-href }}" role="button" data-slide="prev">
          <span class="sr-only">Previous</span>
        </a>
        <a class="right restart carousel-control" href="{{ controls-href }}" role="button" data-slide="next">
          <span class="sr-only">Start over</span>
        </a>
      </div>
    {{else}}
      <div class="carousel-controls-container">
        <a class="left carousel-control" href="{{ controls-href }}" role="button" data-slide="prev">
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="{{ controls-href }}" role="button" data-slide="next">
          <span class="sr-only">Next</span>
        </a>
      </div>
    {{/if}}
  </div>
</div>