<div class="row module__related-links">
  <div class="col-md-2 hidden-sm"></div>
  <div class="col-md-8">
    <div class="callout-block">
      {{#each links}}
        <div class="callout">
          <div class="row">
            <div class="col col-xs-3 col-imagelink">
              <a class="module__related-links__imagelink" href="{{ link.href }}" target="_blank">&nbsp;</a>
              <div class="callout-icon {{ icon-class }}"></div>
              <!-- .call-discovery-icon is common too -->
            </div>
            <div class="col-xs-9">
              <div class="callout-section">
                <h2>{{ headline }}</h2>
                <p>{{ copy }}</p>
                <a href="{{ link.href }}" target="_blank">{{ link.text }}</a>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
  <div class="col-md-2 hidden-sm"></div>
</div>