<div class="resource-card resource-card--{{ layout }} col-xs-12{{#if (eq layout 'vertical')}} col-sm-6{{/if}}{{#if color}} resource-card--{{ color }}{{/if}}">
  <a class="resource-card__link" href="{{ link }}" target="_blank">
    <div class="resource-card__image-container">
      <div class="resource-card__image-placeholder"></div>
      <img class="resource-card__image" src="/assets/img/resource-cards/{{ image }}" />
    </div>
    <div class="resource-card__copy-container">
      <p class="resource-card__eyebrow">{{ eyebrow }}</p>
      <p class="resource-card__headline article_headline">{{ headline }}</p>
      <p class="resource-card__copy">{{ copy }}</p>
      {{#if small-copy}}
        <p class="resource-card__small-copy">{{small-copy}}</p>
      {{/if}}
      <div class="resource-card__link-icon">
        <img src="/assets/img/icons/icon-{{ icon }}.png" />
      </div>
    </div>
  </a>
  {{#if id}} 
    <div id="{{ id }}" class="resource-card__anchor-id">&nbsp;</div>
  {{/if}}
</div>
