<div class="row full-width">
  <div class="video-2col-container">
    <div class="col-md-8">
      <div class="video">
        <a href="{{ link.href }}" target="_blank">
          <img class="screen-grab" src="{{ link.img }}" style="max-width:100%; width:100%;">
        </a>
        <!--                <div class="embed-container">
  <iframe src="https://player.vimeo.com/video/185385217" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    

  </div>   -->
      </div>
    </div>
    <div class="col-md-4">
      <div class="video-callout__wrapper">
        <div class="text">
          <h4>{{ headline }}</h4>
          <p>{{ copy }}</p>
        </div>
        <div class="econ-essentials">
          <h5>{{ img.eyebrow }}</h5>
          <img src="{{ img.src }}" />
        </div>
      </div>
    </div>
  </div>
</div>